*.o
*.so
*.so.*

biceps
biceps-memory-leaks

TP3/biceps
TP3/biceps-memory-leaks
TP3/biceps-trace
TP3/clibeuip
TP3/cliudp
TP3/servbeuip
TP3/servudp
TP3/mess
TP3/pub/contacts

TP2/UDP/cliudp
TP2/UDP/servudp
TP2/UDP/clibeuip
TP2/UDP/servbeuip
